label {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.875rem;
  text-align: center;
  text-wrap: nowrap;
}

input {
  margin-right: 10px;
  appearance: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000;
  vertical-align: sub;
}

input[type="checkbox"]:checked {
    background-color: #4da7ff;
}

.task {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fffbe1;
  border-radius: 10px;
  gap: 10px;
}
.task_title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.875rem;
  text-align: center;
}
