label {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.875rem;
  text-align: center;
  text-wrap: nowrap;
}

input {
  margin-right: 10px;
  appearance: none;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000;
  vertical-align: sub;
}

input[type="checkbox"]:checked {
    background-color: #4da7ff;
}

.task {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fffbe1;
  border-radius: 10px;
  gap: 10px;
}
.task_title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.875rem;
  text-align: center;
}

.task_delete {
  width: 30px;
  height: 20px;
  color: red;
  background-color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  opacity: 0;
  transition: 600ms;
  border: 0;
}

.task:hover .task_delete {
  opacity: 1;
}

.add_task {
  width: 60%;
  margin: auto;
}

.add_task_text {
  padding: 6px 12px;
  border-radius: 3px;
  background-color: rgb(250, 250, 250);
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: 200ms;
}

.add_task_text:hover {
  background-color: #feffb0;
}

.add_task_edit {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.add_task_edit input {
  border: 2px solid #cbcbcb;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  padding: 10px;
}

.add_task_edit_footer {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}

.add_task_edit_footer button {
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  background-color: #00bf30;
  color: #fff;
  border: none;
  transition: 100ms ease;
  padding: 10px;
}
.add_task_edit_footer button:hover {
  background-color: #008321;
}

.add_task_edit_footer button:active {
  transform: translateY(2px);
}

.add_task_edit_footer button.delete_add {
  background-color: #ff3030;
}
.add_task_edit_footer button.delete_add:hover {
  background-color: red;
}

.add_task_edit_footer button.delete_add:active {
  transform: translateY(2px);
}

.add_task_edit_footer .closeIcon {
  cursor: pointer;
  height: 24px;
  width: 24px;
}
